@model Shop.Models.Cart
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    

}


<div class="product_wrap">

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="shopping-cart">

                    <ul class="title clearfix">
                        <li>Hình Ảnh</li>
                        <li class="second">Tên Sản Phẩm</li>
                        <li>Số lượng</li>
                        <li>Giá</li>
                        <li>Tổng Giá</li>
                        
                        <li class="last">Action</li>
                    </ul>

                    @foreach (var item in Model.list)
                    {


                        <ul >
                            <li>
                                <figure><img src="~/Assert/@item.Product.Image" alt="" width="50%"></figure>
                            </li>
                            <li class="second">
                                <h4>@item.Product.Name</h4>
                                
                            </li>
                            <li>
                                <input type="number" class="txtQuantity" data-id="@item.Product.ID" value="@item.Quantity">
                            </li>
                            <li>@item.Product.Price</li>
                            <li>@item.tong()</li>
                            <li> <a style="margin-top = 20px" class="btn btn-danger" href="@Url.Action("Delete","Cart",new { id = item.Product.ID})" id="btn-delete" data-id="@item.Product.ID">Xóa</a></li>
                        </ul>
                    }



                    <a href="#" class="red-button">Tiếp tục mua sắm</a>
                    <a href="#" id="btnUpdate" class="red-button black">Cập nhật hóa đơn</a>

                </div>
            </div>
        </div>

        <div class="row cart-calculator clearfix">
            <div class="span8">
                <h6>Thông tin giao hàng</h6>
                <div class="estimate clearfix">
                    <form>
                        <input type="text" placeholder="Địa Chỉ">
                        

                        <input type="text" placeholder="Số điện thoại">
                        
                    </form>
                </div>
            </div>

            

            <div class="span4 total clearfix">
                <ul class="black">
                    <li>Tổng tiền</li>
                    <li>Grand total:</li>
                </ul>
                <ul class="gray">
                    <li>@Model.TongDonHang()</li>
                    <li>@Model.TongDonHang()</li>
                </ul>
                <a href="#" class="red-button">     Đặt hàng</a>
            </div>
        </div>

    </div>
</div>
