
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    var listProduct = (List<Model.EF.Product>)ViewBag.Product;
    var re = (List<Model.EF.Product>)ViewBag.ProductRe;
    int countPage = (listProduct.Count / 4)+2;

}

<!-- BAR -->
@Html.Action("Bar","Product")
<div class="product_wrap">

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class=" clearfix">
                    @foreach (var item in re)
                    {
                        <div class="span3 product">

                            <div>
                                <figure>
                                    <a href="#"><img src="~/Assert/@item.Image" alt=""></a>
                                    <div class="overlay">
                                        <a href="~/Assert/@item.Image" class="zoom"></a>
                                        <a href="#" class="link"></a>
                                    </div>
                                </figure>
                                <div class="detail">
                                    <span>@item.Price</span>
                                    <h4>@item.Name</h4>
                                    <div class="icon">
                                        <a href="@Url.Action("AddItem","Cart", new { productId = item.ID ,quantity = 1})" class="one tooltip" title="Add to wish list"></a>
                                        <a href="#" class="two tooltip " title="Add to cart"></a>
                                        <a href="#" class="three tooltip" title="Add to compare"></a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    }


                   
                   
                   
                </div>

                <div class="pagination clearfix">
                    <p>Sản phẩm từ 1 đến 4 trong @listProduct.Count</p>
                   
                    <ul class="clearfix">
                        @for (var i = 1; i < countPage; i++)
                        {
                            if (i <= listProduct.Count)
                            {
                        <li><a href="@Url.Action("Index", "Product", new { id = listProduct.ElementAt(1).CategoriesID, page = i })">@i</a></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        

            
        </div>
    </div>
</div>
<!-- PRODUCT-OFFER -->



